<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://cdn.lowgif.com/full/9425340509733885-parking-fail-gifs-get-the-best-gif-on-giphy.gif);">
  <div class="container">
    <h1 id="tituloBanner" class="text-center">  GarBnb </h1>
    <p class="text-center">Consegui estacionamiento en todos los barrios con el mejor precio y la mayor seguridad</p>
  </div>
</div>
