<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.homify.com/images/a_0,c_fill,f_auto,h_900,q_auto,w_1920/v1506348695/p/photo/image/2241997/GRP_up_over_2/fotos-de-garajes-de-estilo-clasico-de-wessex-garage-doors.jpg);">
  <div class="container">
    <h1 class="text-center"> <strong> GarBnb </strong></h1>
    <p class="text-center">Consegui estacionamiento en todos los barrios con el mejor precio y la mayor seguridad</p>
  </div>
</div>
